// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main{
	width:960px;
	min-height:960px;
	max-height:auto;
	padding-top:60px;
	background-color:white;
	box-shadow:0px 0px 1px #999
}

#user_pic{
	margin-left:40px;
	color:#c0c0c0;
	font-size:32px;
	font-family: vera-sans, serif;
	margin-bottom:60px;
	width: 150px;
	background: #c0c0c0;
}

#user_pic:hover{
	margin-left:40px;
	color:#c0c0c0;
	font-size:32px;
	font-family: vera-sans, serif;
	margin-bottom:60px;
	width: 150px;
	background: #00c8f8;
}



#add-a-category{
	width:100%;
	font-size:32px;
	color:#C0C0C0 !important;
	font-family: vera-sans, serif;
	border-bottom:solid 5px #00C8F8;
	height:60px;
	margin-bottom:60px;
	outline: none !important;
	box-shadow:none !important;
	border-radius: 0px !important;
	outline: none !important;
	border-left:none;
	border-top:none;
	border-right:none;
}

.add-category-form{
	float:left;
	width:90%;
	margin-left:10px;
	
}

#add-a-category::-webkit-input-placeholder {
	color: #C0C0C0;
	padding-top:8px;
}

#add-a-category:-moz-placeholder { /* Firefox 18- */
    color: #C0C0C0;
	padding-top:8px;
}

#add-a-category::-moz-placeholder {  /* Firefox 19+ */
    color: #C0C0C0;
	padding-top:8px;
}

#add-a-category:-ms-input-placeholder {  
    color: #C0C0C0; 
	padding-top:8px;
}

.search-category-form{
	float:left;
	width:100%;	
	margin-left:10px;
}

#search-category{
	float:left;
	width:75%;
	font-size:32px;
	color:#C0C0C0 !important;
	font-family: vera-sans, serif;
	border:solid 5px #00C8F8;
	height:60px;
	margin-left:10px;
	outline: none !important;
	box-shadow:none !important;
	border-radius: 0px !important;
	outline: none !important;
}

.icon-search{
	margin-top:20px;
	float:left;
	font-size:34px;
}

.icon-pencil{
	margin-top:15px;
	float:left;
	font-size:34px;
}

.icon-plus{
	margin-top:20px;
	float:left;
	font-size:34px;
}
.category-wrapper{
	margin-left:35px;
}

#category-loop{
	background-color:#c0c0c0;
	color:white;
	font-size:32px;
	font-family: vera-sans, serif;
	padding:20px;
	float:left;
	border-radius:5px;
	margin: 10px;
	cursor: pointer;
}

#category-loop:hover{
	background-color:#00C8F8;
	color:white;
	font-size:32px;
	font-family: vera-sans, serif;
	padding:20px;
	float:left;
	border-radius:5px;
	cursor: pointer;
}

a#category-loop-link:link{
	color:white;
	text-decoration:none;
}

a#category-loop-link:link:hover{
	color:white;
	background-color:#00C8F8;
	text-decoration:none;
}

a#category-loop-link:visited{
	color:white;
	background-color:#00C8F8;
	text-decoration:none;
}

#category-title{
	height:50px;
	margin-left:60px;
	margin-right:60px;
	background-color:#00C8F8;
	color:white;
	font-size:32px;
	font-family: vera-sans, serif;
	border-radius:5px;	
	cursor: pointer;
}

#category-submit{
	display: inline-block;
	position:relative;
	right:100px;
	top:15px;
	font-family: vera-sans, serif;
	font-size:14px;
	text-shadow: 0px 1px 0px #4d4d4d;
	border:none;
	background-color:#f3f3f3;
	height:50px;
	color:#aaa;
	-moz-box-shadow: 0 0 3px #888;
	-webkit-box-shadow: 0 0 3px#888;
	box-shadow: 0 2px 3px #888;
	margin-left:10px;
	border-radius:5px;
 
}
#category-submit:active{
	 -webkit-box-shadow: inset 0px -3px 1px rgba(255, 255, 255, 1), inset 0 0px 3px rgba(0, 0, 0, 0.9);
	 -moz-box-shadow: inset 0px -3px 1px rgba(255, 255, 255, 1), inset 0 0px 3px rgba(0, 0, 0, 0.9);
	 box-shadow: inset 0px -3px 1px rgba(255, 255, 255, 1), inset 0 0px 3px rgba(0, 0, 0, 0.9);
}

#search-submit{
	display: inline-block;
	position:relative;
	right:80px;
	top:15px;
	font-family: vera-sans, serif;
	font-size:14px;
	text-shadow: 0px 1px 0px #4d4d4d;
	border:none;
	background-color:#f3f3f3;
	height:50px;
	color:#aaa;
	-moz-box-shadow: 0 0 3px #888;
	-webkit-box-shadow: 0 0 3px#888;
	box-shadow: 0 2px 3px #888;
	margin-left:10px;
	border-radius:5px;
 
}



