<div class="container">
	<div class="main">
	<div class="row-fluid">
		<div class="span12">
			<div class="span3 offset1">
				<div id="username">
				Gary Riger
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<div class="span10 offset1">
				<i class="icon-search"></i>
				<div class="search-category-form">
				<%= render "searchform" %>
				</div>
			</div>
		</div>
	</div>
	</div>
	

	<div class="row-fluid">
		<div class="span12">
			<div class="span10 offset1">
				<div class="category-loop-ajax">
			 		<% @categories.sort { |a,b| a.name <=> b.name }.each do |cat| %>
						<div id="category-loop">
			 			<%= link_to category_path(cat), :id => "category-loop-link", :remote => true do %>
							<%= cat.name.downcase %>
							<% end %>
						</div>
			 			<% end %>
				</div>
			
			</div>	
		</div>	
	</div>
</div>